*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# PRESENCE
/.dev
/target
/node_modules
backend/.venv
backend/*.db*
__pycache__/
.env
/.anchor
